<div style="z-index: 1">
    <div id="project-start" class="project-start animate-end">
        <div id="ocean-intro">
            <div [hidden]="!inSky" class="ocean1 flex justify-between">
                <img
                    id="project-boat"
                    class="ml-[20vw] mt-[32.5vh] w-[30vh] h-[30vh]"
                    src="/temp_boat2.png"
                    alt="Boat"
                />

                <div
                    id="project-intro"
                    class="card card-side bg-base-100 shadow-sm w-[30%] h-[30vh] right-[15vw] mt-[22.5vh] flex justify-center items-center"
                >
                    <div class="w-[80%]">
                        <div class="space-y-4">
                            <h2><b>Projects</b></h2>
                            <p>
                                Here are some of the projects that I have created over the past few years. Scroll or
                                click the buttons to dive right in!
                            </p>
                        </div>
                        <div class="w-[100%] mt-[20px] flex justify-end">
                            <button class="btn btn-soft" (click)="scrollTo(2)">Next ></button>
                        </div>
                    </div>
                </div>
            </div>

            <div [hidden]="inSky" id="last-project-ocean" class="ocean2 flex justify-between">
                <img
                    id="project-boat"
                    class="ml-[10vw] mt-[20vh] w-[60vh] h-[50vh]"
                    src="/temp_zoomed_boat.png"
                    alt="Boat"
                />

                <div
                    id="project-intro"
                    class="card card-side bg-base-100 shadow-sm w-[30%] h-[45vh] right-[15vw] mt-[22.5vh] justify-center items-center"
                >
                    <div class="w-[80%]">
                        <div class="card-body">
                            <h2 class="card-title">LeetCode</h2>

                            <div class="card bg-gray-700 p-4 w-[90%] shadow-inner">
                                <p class="sub-header">My Account Stats:</p>
                                <p><b>Total Questions Solved: </b>{{ totalQuestions }}</p>
                                <p><b class="text-green-500">Easy: </b>{{ easyQuestions }}</p>
                                <p><b class="text-yellow-500">Medium: </b>{{ mediumQuestions }}</p>
                                <p><b class="text-red-500">Hard: </b>{{ hardQuestions }}</p>
                                <a
                                    href="https://leetcode.com/u/jason--w/"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="text-blue-400 underline"
                                    >View full profile</a
                                >
                            </div>
                            <p>
                                It isn't an actual project, but I'm quite proud of my progress so far. I've also done a
                                few weekly contests and placed 621 out of 34 372 participants for one of them!
                            </p>
                        </div>
                        <div class="card-actions justify-end">
                            <button class="btn btn-soft" (click)="scrollTo(0)">< Prev</button>
                            <button class="btn btn-soft" (click)="scrollTo(5.5)">Next ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="cloud-container" class="fixed overflow-x-hidden top-[10vh] z-0 pointer-events-none">
        <img
            id="cloud-image-right"
            class="clouds clouds-right w-[100vw] h-[90vh] object-cover z-10"
            src="/clouds_temp.jpg"
            alt="Clouds"
        />

        <img
            id="cloud-image-left"
            class="clouds absolute top-0 clouds-left w-[100vw] h-[90vh] object-cover z-10"
            src="/clouds_temp.jpg"
            alt="Clouds"
        />
    </div>

    <div id="waves" class="waves-container absolute top-0 z-20">
        <img id="waves-image" class="waves w-[100vw] object-cover" src="/temp_waves.jpg" alt="Waves" />
    </div>

    <div class="project-complete-container">
        <div id="project-5" class="project-container flex justify-center">
            <div
                id="project-5-card"
                class="card card-side bg-base-100 shadow-sm w-[50%] h-[45vh] right-[7vw] mt-[22.5vh]"
            >
                <figure>
                    <img src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp" alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">New movie is released!</h2>
                    <p>Click the button to watch on Jetflix app.</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-soft" (click)="scrollTo(2)">< Prev</button>
                        <button class="btn btn-soft" (click)="scrollTo(7.5)">Next ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project-complete-container">
        <div id="project-4" class="project-container flex justify-center">
            <div
                id="project-4-card"
                class="card card-side bg-base-100 shadow-sm w-[50%] h-[45vh] left-[7vw] mt-[22.5vh]"
            >
                <figure>
                    <img src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp" alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">New movie is released!</h2>
                    <p>Click the button to watch on Jetflix app.</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-soft" (click)="scrollTo(5.5)">< Prev</button>
                        <button class="btn btn-soft" (click)="scrollTo(9.5)">Next ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project-complete-container">
        <div id="project-3" class="project-container flex justify-center">
            <div
                id="project-3-card"
                class="card card-side bg-base-100 shadow-sm w-[50%] h-[45vh] right-[7vw] mt-[22.5vh]"
            >
                <figure>
                    <img src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp" alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">New movie is released!</h2>
                    <p>Click the button to watch on Jetflix app.</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-soft" (click)="scrollTo(7.5)">< Prev</button>
                        <button class="btn btn-soft" (click)="scrollTo(11.5)">Next ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project-complete-container">
        <div id="project-2" class="project-container flex justify-center">
            <div
                id="project-2-card"
                class="card card-side bg-base-100 shadow-sm w-[50%] h-[45vh] left-[7vw] mt-[22.5vh]"
            >
                <figure>
                    <img src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp" alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">New movie is released!</h2>
                    <p>Click the button to watch on Jetflix app.</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-soft" (click)="scrollTo(9.5)">< Prev</button>
                        <button class="btn btn-soft" (click)="scrollTo(13.5)">Next ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project-complete-container">
        <div id="project-1" class="project-container flex justify-center">
            <div
                id="project-1-card"
                class="card card-side bg-base-100 shadow-sm w-[50%] h-[45vh] right-[7vw] mt-[22.5vh]"
            >
                <figure>
                    <img src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp" alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">New movie is released!</h2>
                    <p>Click the button to watch on Jetflix app.</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-soft" (click)="scrollTo(11.5)">< Prev</button>
                        <button class="btn btn-soft" (click)="scrollTo(15)">Next ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ocean-floor" class="ocean-floor flex justify-center [90vh]">
        <div
            id="project-end-card"
            class="card card-side bg-base-100 shadow-sm w-[30%] h-[7vh] mb-[5vh] mt-[80vh] flex justify-center items-center"
        >
            <div class="w-[95%] flex justify-between items-center">
                <button class="btn btn-soft" (click)="scrollTo(13.5)">< Prev</button>
                The End!
                <button class="btn btn-soft" (click)="scrollTo(0)">Back to Top ></button>
            </div>
        </div>
    </div>
</div>
