.project-start.animate-start {
    transform: translateX(55%);
}

.project-start.animate-end {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s ease-out;
}

.project-start {
    height: calc(450vh * var(--zoom-ratio, 1));
}

.ocean1 {
    background-image: url(../../../../public/ocean_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ocean2 {
    background-image: url(../../../../public/ocean2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.clouds {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    will-change: transform;
}

.clouds-left {
    transform: translateX(-100%);
}

.clouds-right {
    transform: translateX(100%);
}

.cloud-container {
    height: calc(360vh * var(--zoom-ratio, 1));
}

.project-complete-container {
    height: calc(180vh * var(--zoom-ratio, 1));
    z-index: 10;
}

.project-container {
    height: calc(90vh * var(--zoom-ratio, 1));
    transition: opacity 0.5s ease;
}

.ocean-floor {
    position: relative;
}

.ocean1 {
    height: calc(90vh * var(--zoom-ratio, 1));
}

.ocean2 {
    height: calc(90vh * var(--zoom-ratio, 1));
}

p {
    font-size: 16px;
}

span {
    font-size: 16px;
}

.sub-header {
    font-size: 18px;
}

.waves-container {
    height: calc(90vh * var(--zoom-ratio, 1));
    margin-top: calc(360vh * var(--zoom-ratio, 1));
}

.waves {
    height: calc(90vh * var(--zoom-ratio, 1));
}

.icon-devpost {
    width: 36px;
    height: 36px;
}

.project-card {
    max-height: 80vh;
}

@media (min-width: 993px) {
    #last-project-ocean {
        justify-content: end;
    }

    .card.leetcode-card {
        margin-right: 10vw;
    }

    .leetcode-container {
        align-items: center;
    }
}

@media (max-width: 992px) {
    .card {
        max-width: 90vw !important;
    }

    .project-card {
        width: 90vw !important;
    }

    #project-start-intro {
        width: 90vw;
        margin-top: 5vh;
    }

    #project-start-boat {
        margin-left: 5vw !important;
        margin-top: 35vh !important;
    }

    #last-project-ocean {
        align-items: start;
        justify-content: center;
    }

    .leetcode-container {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .project-card {
        flex-direction: column;
    }

    .project-body {
        width: 100%;
    }
}

@media (max-width: 430px) {
    .card {
        display: flex;
        flex-wrap: wrap;
    }
}
