<div style="z-index: 1">
    <div id="project-start" class="project-start animate-end">
        <div id="ocean-intro" class="overflow-x-hidden">
            <div [hidden]="!inSky" class="ocean1 flex justify-between justify-center">
                <div class="h-[90vh] flex items-center">
                    <div class="flex flex-wrap justify-center gap-x-[5vw] gap-y-[5vw] items-center">
                        <img id="project-boat" class="w-[30vh] h-[6vh] z-1" src="/boat_topdown.png" alt="Boat" />

                        <div
                            id="project-intro"
                            class="card card-side bg-base-100 shadow-sm w-[35rem] flex justify-center items-center"
                        >
                            <div class="card-body">
                                <div class="space-y-4">
                                    <h2 class="card-title">Projects</h2>
                                    <p>
                                        Here are some of the projects that I have created over the past few years.
                                        Scroll or click the buttons to dive right in!
                                    </p>
                                </div>
                                <div class="w-[100%] mt-[20px] flex justify-end">
                                    <button class="btn btn-soft" (click)="scrollTo(2)">Next ></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div [hidden]="inSky" id="last-project-ocean" class="ocean2 flex">
                <div class="leetcode-container h-[90vh] flex">
                    <img
                        id="project-start-boat"
                        class="absolute top-0 left-0 ml-[10vw] mt-[20vh] w-[60vh] h-[50vh]"
                        src="/boat_closeup.png"
                        alt="Boat"
                    />

                    <div
                        id="project-start-intro"
                        class="card leetcode-card card-side bg-base-100 shadow-sm w-[35rem] justify-center items-center"
                    >
                        <div class="w-[80%] justify-start">
                            <div class="card-body">
                                <h2 class="card-title">LeetCode</h2>

                                <div class="card bg-gray-700 p-4 w-[90%] shadow-inner">
                                    <p class="sub-header">My Account Stats:</p>
                                    <p><b>Total Questions Solved: </b>{{ totalQuestions }}</p>
                                    <p><b class="text-green-500">Easy: </b>{{ easyQuestions }}</p>
                                    <p><b class="text-yellow-500">Medium: </b>{{ mediumQuestions }}</p>
                                    <p><b class="text-red-500">Hard: </b>{{ hardQuestions }}</p>
                                    <a
                                        href="https://leetcode.com/u/jason--w/"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class="text-blue-400 underline"
                                        >View full profile</a
                                    >
                                </div>
                                <p>
                                    It isn't an actual project, but I'm quite proud of my progress so far. I've also
                                    done a few weekly contests and placed 621 out of 34 372 participants for one of
                                    them!
                                </p>
                            </div>
                            <div class="card-actions justify-end mb-5">
                                <button class="btn btn-soft" (click)="scrollTo(0)">< Prev</button>
                                <button class="btn btn-soft" (click)="scrollTo(5.25)">Next ></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="cloud-container" class="fixed overflow-clip top-[10vh] z-0 pointer-events-none w-[100%] h-[90vh]">
        <img
            id="cloud-image-right"
            class="clouds clouds-right h-[90vh] object-cover object-left z-10"
            src="/right_clouds.png"
            alt="Clouds"
        />

        <img
            id="cloud-image-left"
            class="clouds clouds-left h-[90vh] object-cover object-right z-10"
            src="/left_clouds.png"
            alt="Clouds"
        />
    </div>

    <div id="waves" class="waves-container absolute top-0 z-20">
        <img id="waves-image" class="waves w-[100vw] object-cover" src="/waves.png" alt="Waves" />
    </div>

    <div class="project-complete-container flex items-center">
        <div id="project-5" class="project-container flex justify-center">
            <div class="w-[95vw] flex items-center justify-center">
                <div id="project-5-card" class="card project-card card-side bg-base-100 shadow-sm w-[65rem]">
                    <figure>
                        <img src="/temp_website.JPG" alt="Project Picture" />
                    </figure>
                    <div class="card-body project-body w-[50%]">
                        <h2 class="card-title">Personal Website</h2>
                        <div class="flex gap-3 mb-7 flex-wrap">
                            <div class="badge badge-soft badge-info">Angular</div>
                            <div class="badge badge-soft badge-info">Tailwind</div>
                            <div class="badge badge-soft badge-info">DaisyUI</div>
                            <div class="badge badge-soft badge-info">Insert deploy tool here</div>
                        </div>
                        <div class="mb-2">
                            <p>
                                The website you are viewing right now! The ocean theme was inspired by my childhood
                                fascination with the ocean. All art here is custom made by my good friend Jaden.
                            </p>
                        </div>
                        <div class="flex justify-start gap-2">
                            <span>Check it out:</span>
                            <a
                                href="https://github.com/jason-j-wang/personal-website"
                                target="_blank"
                                rel="noopener noreferrer"
                                ><fa-icon [icon]="faGithub" size="2x"></fa-icon
                            ></a>
                        </div>

                        <div class="card-actions justify-end mt-auto">
                            <button class="btn btn-soft" (click)="scrollTo(2)">< Prev</button>
                            <button class="btn btn-soft" (click)="scrollTo(6.75)">Next ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project-complete-container flex items-center">
        <div id="project-4" class="project-container flex justify-center">
            <div class="h-[90vh] w-[95vw] flex items-center justify-center">
                <div id="project-4-card" class="card project-card card-side bg-base-100 shadow-sm w-[65rem]">
                    <figure>
                        <img src="/termiknow_picture.png" alt="Project Picture" />
                    </figure>
                    <div class="card-body project-body w-[50%]">
                        <h2 class="card-title">Termiknow</h2>
                        <div class="flex gap-3 mb-7 flex-wrap">
                            <div class="badge badge-soft badge-info">Python</div>
                            <div class="badge badge-soft badge-info">chromadb</div>
                            <div class="badge badge-soft badge-info">textual</div>
                        </div>
                        <div class="mb-2">
                            <p>
                                Termiknow is a command search tool that helps developers search up the syntax and
                                parameters of terminal commands. My team submitted this project for nwHacks 2025 and we
                                ended up
                                <b>winning the hackathon!</b>
                            </p>
                        </div>
                        <div class="flex justify-start gap-2 items-center">
                            <span>Check it out:</span>
                            <a
                                href="https://github.com/zhangLily2020/nwhacks2025"
                                target="_blank"
                                rel="noopener noreferrer"
                                ><fa-icon [icon]="faGithub" size="2x"></fa-icon
                            ></a>

                            <a href="https://devpost.com/software/termiknow" target="_blank" rel="noopener noreferrer"
                                ><img class="icon-devpost" src="/devpost_logo.png"
                            /></a>
                        </div>

                        <div class="card-actions justify-end mt-auto">
                            <button class="btn btn-soft" (click)="scrollTo(5.25)">< Prev</button>
                            <button class="btn btn-soft" (click)="scrollTo(8.25)">Next ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project-complete-container flex items-center">
        <div id="project-3" class="project-container flex justify-center">
            <div class="h-[90vh] w-[95vw] flex items-center justify-center">
                <div id="project-3-card" class="card project-card card-side bg-base-100 shadow-sm w-[65rem]">
                    <figure>
                        <img src="/insightubc_picture.JPG" alt="Project Picture" />
                    </figure>
                    <div class="card-body project-body w-[50%]">
                        <h2 class="card-title">InsightUBC</h2>
                        <div class="flex gap-3 mb-7 flex-wrap">
                            <div class="badge badge-soft badge-info">TypeScript</div>
                            <div class="badge badge-soft badge-info">Chai</div>
                        </div>
                        <div class="mb-2">
                            <p>
                                A neat school project that allows users to find information on historical UBC course
                                data from a local dataset. The application was developed with a TDD approach. Query
                                processing and validation were all custom built.
                            </p>
                        </div>

                        <div class="card-actions justify-end mt-auto">
                            <button class="btn btn-soft" (click)="scrollTo(6.75)">< Prev</button>
                            <button class="btn btn-soft" (click)="scrollTo(9.75)">Next ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project-complete-container flex items-center">
        <div id="project-2" class="project-container flex justify-center">
            <div class="h-[90vh] w-[95vw] flex items-center justify-center">
                <div id="project-2-card" class="card project-card card-side bg-base-100 shadow-sm w-[65rem]">
                    <figure>
                        <img src="/chessbot_picture.png" alt="Movie" />
                    </figure>
                    <div class="card-body project-body w-[50%]">
                        <h2 class="card-title">Chess Bot</h2>
                        <div class="flex gap-3 mb-7 flex-wrap">
                            <div class="badge badge-soft badge-info">Python</div>
                            <div class="badge badge-soft badge-info">pygame</div>
                            <div class="badge badge-soft badge-info">python-chess</div>
                        </div>
                        <div class="mb-2">
                            <p>
                                A chess bot that I made to challenge some of my friends who were beginners at chess. I
                                used a mini-max algorithm optimized with alpha-beta pruning along with heatmaps to
                                determine bot moves.
                            </p>
                        </div>
                        <div class="flex justify-start gap-2">
                            <span>Check it out:</span>
                            <a
                                href="https://github.com/jason-j-wang/Chess-Bot"
                                target="_blank"
                                rel="noopener noreferrer"
                                ><fa-icon [icon]="faGithub" size="2x"></fa-icon
                            ></a>
                        </div>

                        <div class="card-actions justify-end mt-auto">
                            <button class="btn btn-soft" (click)="scrollTo(8.25)">< Prev</button>
                            <button class="btn btn-soft" (click)="scrollTo(11.25)">Next ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="project-complete-container flex items-center">
        <div id="project-1" class="project-container flex justify-center">
            <div class="h-[90vh] w-[95vw] flex items-center justify-center">
                <div id="project-1-card" class="card project-card card-side bg-base-100 shadow-sm w-[65rem]">
                    <figure>
                        <img src="fighter_picture.png" alt="Project Picture" />
                    </figure>
                    <div class="card-body project-body w-[50%]">
                        <h2 class="card-title">Showdown</h2>
                        <div class="flex gap-3 mb-7 flex-wrap">
                            <div class="badge badge-soft badge-info">Python</div>
                            <div class="badge badge-soft badge-info">Codeskulptor</div>
                            <div class="badge badge-soft badge-info">simplegui</div>
                        </div>
                        <div class="mb-2">
                            <p>
                                A two-player fighter game that I created inspired by the game Super Fighters. All image
                                and sprite assets used were also all created by me!
                            </p>
                        </div>
                        <div class="flex justify-start gap-2">
                            <span>Check it out:</span>
                            <a
                                href="https://github.com/jason-j-wang/showdown-game"
                                target="_blank"
                                rel="noopener noreferrer"
                                ><fa-icon [icon]="faGithub" size="2x"></fa-icon
                            ></a>
                        </div>

                        <div class="card-actions justify-end mt-auto">
                            <button class="btn btn-soft" (click)="scrollTo(9.75)">< Prev</button>
                            <button class="btn btn-soft" (click)="scrollTo(12.75)">Next ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ocean-floor" class="ocean-floor flex justify-center">
        <img src="ocean_floor.png" class="ocean-floor-img w-[100%] object-cover" alt="Ocean Floor" />
        <div
            id="project-end-card"
            class="card card-side bg-base-100 shadow-sm absolute bottom-0 w-[30rem] mb-[20vh] flex justify-center items-center z-10"
        >
            <div class="w-[95%] flex justify-between items-center flex-wrap p-4 gap-y-4">
                <button class="btn btn-soft" (click)="scrollTo(11.25)">< Prev</button>
                The End!
                <button class="btn btn-soft" (click)="scrollTo(0)">Back to Top ></button>
            </div>
        </div>
    </div>
</div>
