.project-start.animate-start {
    transform: translateX(55%);
}

.project-start.animate-end {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s ease-out;
}

.ocean1 {
    background-image: url(../../../../public/ocean_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ocean2 {
    background-image: url(../../../../public/ocean2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.clouds-left {
    transform: translateX(-100%);
}

.clouds-right {
    transform: translateX(100%);
}

.project-complete-container {
    height: 180vh;
}

.project-container {
    height: 90vh;
    transition: opacity 0.5s ease;
}
