.project-start.animate-start {
    transform: translateX(55%);
}

.project-start.animate-end {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s ease-out;
}

.project-start {
    height: calc(450vh * var(--zoom-ratio, 1));
}

.ocean1 {
    background-image: url(../../../../public/ocean_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ocean2 {
    background-image: url(../../../../public/ocean2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.clouds-left {
    transform: translateX(-100%);
}

.clouds-right {
    transform: translateX(100%);
}

.cloud-container {
    height: calc(360vh * var(--zoom-ratio, 1));
}

.project-complete-container {
    height: calc(180vh * var(--zoom-ratio, 1));
    z-index: 10;
}

.project-container {
    height: calc(90vh * var(--zoom-ratio, 1));
    transition: opacity 0.5s ease;
}

.ocean-floor {
    position: relative; /* parent must be positioned for ::before to be positioned absolutely inside */
}

.ocean1 {
    height: calc(90vh * var(--zoom-ratio, 1));
}

.ocean2 {
    height: calc(90vh * var(--zoom-ratio, 1));
}

.ocean-floor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(../../../../public/ocean_bottom_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.2;
    transition: opacity 0.5s ease;
}

p {
    font-size: 14px;
}

.sub-header {
    font-size: 16px;
}

.waves-container {
    height: calc(90vh * var(--zoom-ratio, 1));
    margin-top: calc(360vh * var(--zoom-ratio, 1));
}

.waves {
    height: calc(90vh * var(--zoom-ratio, 1));
}
