
<div class="flex h-[90vh] items-center justify-between ml-[20%]">
    <div class="card card-side bg-base-100 shadow-sm w-[50%] h-[60%]">
        <div class="flex flex-col ml-10 mr-5">
            <div class="avatar avatar-online w-30 h-30 flex justify-center mt-10">
                <div class="w-30 h-30 rounded-full">
                    <img src="https://img.daisyui.com/images/profile/demo/gordon@192.webp" />
                </div>
            </div>

            <div class="flex justify-center mt-10">
                link icons here
            </div>
        </div>
        
        <div class="card-body">
            <h2 class="card-title">New movie is released!</h2>
            <p>Click the button to watch on Jetflix app.</p>
            <div class="card-actions justify-end">
            </div>
        </div>
    </div>

    <img class="mr-[10vw] w-[30vh] h-[30vh]" src="/temp_boat2.png" alt="Boat">
</div>
