<div class="background fixed top-[10vh] h-[90vh] w-[100vw] z-0"></div>
<div
    class="experience-container flex items-center justify-between justify-center w-full flex-wrap gap-[10vw] mb-[3rem]"
>
    <div class="card card-side bg-base-100 shadow-sm w-[55rem] z-2 mt-[5rem]">
        <div class="card-body">
            <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
                <li>
                    <div class="timeline-middle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </div>
                    <div class="timeline-start mb-3 md:text-end">
                        <time class="font-mono italic">May 2025 (4 mos)</time>
                        <div class="text-md font-black mb-2">Full-stack SWE Intern - Facetec</div>
                        <div class="flex gap-3 mb-2 flex-wrap right-side">
                            <div class="badge badge-soft badge-info">Laravel</div>
                            <div class="badge badge-soft badge-info">PHP</div>
                            <div class="badge badge-soft badge-info">AngularJS</div>
                            <div class="badge badge-soft badge-info">MongoDB</div>
                            <div class="badge badge-soft badge-info">AWS S3</div>
                        </div>
                        <div class="mb-2">
                            <p>
                                I designed and delievered 8 new features for Facetec’s patient management service. I
                                also did extensive work on the frontend UI by implementing numerous responsive fixes to
                                ensure usability and accessibility.
                            </p>
                        </div>
                    </div>
                    <hr />
                </li>
                <li>
                    <hr />
                    <div class="timeline-middle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </div>
                    <div class="timeline-end md:mb-3">
                        <time class="font-mono italic">September 2024 (8 mos)</time>
                        <div class="text-md font-black mb-2">Full-stack SWE Intern - Speedline Solutions</div>
                        <div class="flex gap-3 mb-2 flex-wrap">
                            <div class="badge badge-soft badge-info">TypeScript</div>
                            <div class="badge badge-soft badge-info">NodeJS</div>
                            <div class="badge badge-soft badge-info">React</div>
                            <div class="badge badge-soft badge-info">Redux</div>
                            <div class="badge badge-soft badge-info">AWS</div>
                            <div class="badge badge-soft badge-info">Postman</div>
                        </div>
                        <div class="mb-2">
                            <p>
                                I helped develop software that 1000+ restaurants use for enterprise management and
                                online ordering. I was part of a team that integrated new third-party features to the
                                application, leading to a 13% increase in user count.
                            </p>
                        </div>
                    </div>
                    <hr />
                </li>
                <li>
                    <hr />
                    <div class="timeline-middle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </div>
                    <div class="timeline-start mb-10 md:text-end">
                        <time class="font-mono italic">January 2023 (8 mos)</time>
                        <div class="text-md font-black mb-2">ASIC Developer Intern - Intel</div>
                        <div class="flex gap-3 mb-2 flex-wrap right-side">
                            <div class="badge badge-soft badge-info">SystemVerilog</div>
                            <div class="badge badge-soft badge-info">UVM</div>
                        </div>
                        <div class="mb-2">
                            <p>
                                I performed ASIC verification by debugging failing simulation tests, implementing new
                                pin connections and enforcing functionality requirements on the block level. These
                                efforts increased the functional coverage from 80% to 100%. In addition, I was also a
                                cohort lead and planned bi-weekly Intel events for other interns!
                            </p>
                        </div>
                    </div>
                    <hr />
                </li>
                <li>
                    <hr />
                    <div class="timeline-middle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </div>
                    <div class="timeline-end md:mb-10">
                        <time class="font-mono italic">May 2021 (2 mos)</time>
                        <div class="text-md font-black mb-2">SWE Intern - Falcon Technologies</div>
                        <div class="flex gap-3 mb-2 flex-wrap">
                            <div class="badge badge-soft badge-info">Python</div>
                            <div class="badge badge-soft badge-info">Flask</div>
                            <div class="badge badge-soft badge-info">PostgreSQL</div>
                            <div class="badge badge-soft badge-info">Postman</div>
                        </div>
                        <div class="mb-2">
                            <p>
                                I developed an API using the Flask framework to aggregate Canadian and US housing bank
                                rates and stored them in a PostgreSQL database. Weekly database updates were implemented
                                using the Python schedule library.
                            </p>
                        </div>
                    </div>
                    <hr />
                </li>
            </ul>
        </div>
    </div>

    <img class="boat w-[30vh] h-[6vh] z-1" src="/boat_topdown.png" alt="Boat" />
</div>
