@import "tailwindcss";
//https://daisyui.com/docs/config/
@plugin "daisyui" {
    
}
// Blue Grotto
// #067593

// Navy Blue
// #055772

// Baby Blue
// #09a9c8

// Midnight Blue
// #001f3d
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #09a9c8;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}