@import "tailwindcss";
//https://daisyui.com/docs/config/
@plugin "daisyui" {
}
// Blue Grotto
// #067593

// Navy Blue
// #055772

// Baby Blue
// #09a9c8

// Midnight Blue
// #001f3d
body {
    margin: 0;
    background-image: url(../public/ocean_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// home, projects {
//   display: block;
//   width: 100%;
// }
